/* Main Footer */
.main-footer {
  padding: 20px 0;
  background: linear-gradient(90deg, #05bcc9 0%, #006792 100%);
}
.thumbnail-widget {
  padding-left: 0;
  list-style: none;
}

/*==================== 
	Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a {
  color: #fff;
  text-decoration: none;
}
.widget li a:hover {
  color: #4ad9e4;
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
.button1 {
  background-color: #4ad9e4;
  color: #fff;
}
.button1:hover {
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}

.footer-fa {
  padding: 10px;
}
.footer-fa:hover {
  color: #4ad9e4;
}

.mail {
  text-decoration: none;
  color: #fff;
}

.mail:hover {
  color: #4ad9e4;
}

.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
  text-align: center;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 20px;
  background: linear-gradient(90deg, #05bcc9 0%, #006792 100%);
}

.join-hd1 {
  margin-top: 30px;
  color: #fff;
  font-weight: bolder;
  font-size: 60px;
}

.join-hd2 {
  margin-top: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.join-hd3 {
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .join-img {
    display: none;
  }
}
